@{
  Layout = "_Layout";
}

@using HairSalon.Models

@{
  Stylist stylist = ViewData["stylist"] as Stylist;
  List<Client> clients = ViewData["clients"] as List<Client>;
}

<h2>@stylist.StylistName's details:</h2>
<hr />
<h3>Specialty: @stylist.Specialty</h3>
<h3>Date Hired: @stylist.DateHired</h3>
<ul>
  @foreach (Client client in clients)
  {
    <li>@Html.ActionLink(client.Name, "Details", "Clients", new { id = client.ClientId })</li>
  }
</ul>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = stylist.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = stylist.StylistId })</p>
<p>@Html.ActionLink("Back to stylist list", "Index")</p>